@font-face {
  font-family: 'light';
  src: local('light'), url(./font/Rubik-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'regular';
  src: local('regular'), url(./font/Rubik-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'f-bold';
  src: local('f-bold'), url(./font/Rubik-Bold.ttf) format('truetype');
}
*{
  margin: 0px;
  padding: 0px;
}
button{
  background: unset;
  border: unset;  
}
input:focus{
  outline: none;
}
ul , li{
  list-style-type: none;
}